.app-wrapper-container{
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

body.auth-app-background {
  background: url('/public/login-bg-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app-wrapper-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 200px;
  
}

.app-container.editor-mode{
  all: unset;
}

.app{
  all: unset;
}

.auth-wrapper {
  width: 500px;
  
}

.auth-inner {
  
  background: linear-gradient(135deg, #1c1c1c, #3a3a3a);
  backdrop-filter: blur(12px);
  border-radius: 15px;
  
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(90deg, #6a11cb, #2575fc, #29abe2); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: glowing-text 3s ease-in-out infinite alternate; 
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  font-size: 28px;
  margin-bottom: 25px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.form-group {
  width: 100%;
}

.form-label {
  display: block;
  margin-bottom: 7px;
  color: #d1d1d1;
  font-size: 15px;
}

.form-input {
  width: 350px;
  padding: 12px 16px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #ecf0f1;
  transition: border-color 0.3s ease, background 0.3s ease;
  margin-bottom: 25px;
}

.form-input:focus {
  outline: none;
  border-color: #3498db; 
  background: rgba(255, 255, 255, 0.15);
}

.form-button {
  width: 90%;
  display: inline-block;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #3498db, #2980b9); 
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  
}

.form-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
}

.form-text {
  margin-top: 20px;
  color: #bbb;
  font-size: 14px;
}

.form-link {
  color: #3498db;
  text-decoration: none;
  font-weight: 500;
}

.form-link:hover {
  text-decoration: underline;
}

.google-icon {
  width: 32px;
  height: 32px;
}

.oauth-signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oauth-signin-text {
  color: #bbb;

  font-size: 14px;
}


.oauth-buttons {
  display: flex;
  gap: 20px;
}


.oauth-button {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  padding: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}


.oauth-button:hover {
  transform: scale(1.1);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}


.oauth-icon {
  width: 40px;
  height: 40px;
}

.google-signin-button {
  background: rgba(255, 255, 255, 0.15);
}


.github-signin-button {
  background: rgba(0, 0, 0, 0.15);
}


.facebook-signin-button {
  background: rgba(59, 89, 152, 0.15);
}


.facebook-signin-button:hover {
  box-shadow: 0 3px 8px rgba(59, 89, 152, 0.5);
}
